.simple-button {
    background-color: white;
    color: black;
    transition-duration: 0.4s;
}

.simple-button-complete {
    border: 2px solid rgb(90, 131, 102);
}

.simple-button-delete {
    border: 2px solid rgb(158, 88, 88);
}

.simple-button-add-task {
    border: 2px solid rgb(117, 107, 126);
}

.simple-button-login {
    border: 2px solid #BADEC6;
}

.simple-button-new-user {
    border: 2px solid #c3aaca;
}

.simple-button-logout {
    border: 2px solid #7eac8d;
}

 
.simple-button-complete:hover {
background-color: rgb(90, 131, 102);
color: white;
}

.simple-button-delete:hover {
    background-color: rgb(158, 88, 88);
    color: white;
}

.simple-button-add-task:hover {
    background-color: rgb(117, 107, 126);
    color: white;
}

.simple-button-login:hover {
    background-color: #BADEC6;
}

.simple-button-new-user:hover {
    background-color: #c3aaca;
}

.simple-button-logout:hover {
    background-color: #5a866a;
    color: white;
}

.disabled {
    pointer-events: none;
}
