.App {
  padding-top: 80px;
  font-family: Verdana, Arial, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
}

*:focus {
  outline: black auto 2px;
}

body.using-mouse *:focus {
  outline: none;
}
